:root {
  --color-primary-50: #f0f3fe;
  --color-primary-100: #e2e8fd;
  --color-primary-200: #bbc9fb;
  --color-primary-300: #859fff;
  --color-primary-400: #305eff;
  --color-primary-500: #0037ff;
  --color-primary-600: #002ed6;
  --color-primary-700: #0026ad;
  --color-primary-800: #001d85;
  --color-primary-900: #081a5e;
  --color-primary-950: #05113d;
  --color-secondary-50: #fdf3f2;
  --color-secondary-100: #fae7e5;
  --color-secondary-200: #f3c6c3;
  --color-secondary-300: #f09a94;
  --color-secondary-400: #eb5c51;
  --color-secondary-500: #d52b1e;
  --color-secondary-600: #bc251a;
  --color-secondary-700: #981e15;
  --color-secondary-800: #741710;
  --color-secondary-900: #541712;
  --color-secondary-950: #360f0c;
  --color-accent-50: #f0fef8;
  --color-accent-100: #e2fdf2;
  --color-accent-200: #bbfbe1;
  --color-accent-300: #85ffcc;
  --color-accent-400: #3dffae;
  --color-accent-500: #00ff95;
  --color-accent-600: #00d67d;
  --color-accent-700: #009e5c;
  --color-accent-800: #00854d;
  --color-accent-900: #085e3a;
  --color-accent-950: #053d26;
  --color-neutral-50: #f7f7f7;
  --color-neutral-100: #f0f0f0;
  --color-neutral-200: #dbdbdb;
  --color-neutral-300: #c2c2c2;
  --color-neutral-400: #9e9e9e;
  --color-neutral-500: #808080;
  --color-neutral-600: #6b6b6b;
  --color-neutral-700: #575757;
  --color-neutral-800: #424242;
  --color-neutral-900: #333333;
  --color-neutral-950: #000000;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --font-family-sans: sans-serif;
  --font-family-display: Inter;
  --font-family-mono: Menlo;
  --font-size-xs: 0.736rem;
  --font-size-sm: 0.925rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.215rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.85rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;
  --spacing-0: 0;
  --spacing-2: 0.375rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-10: 2.5rem;
  --radius-none: 0;
  --radius-sm: 0.25rem;
  --radius-md: 2.5rem;
  --radius-lg: 4.7325rem;
  --radius-xl: 100%;
  --radius-2xl: 19.7181rem;
  --radius-full: 9999px;
  --shadow-sm: rgba(49, 49, 51, 0.1) 0px 2px 16px 0px;
  --shadow-md: rgba(19, 38, 68, 0.06) 0px 2px 4px -2px, rgba(19, 38, 68, 0.1) 0px 4px 8px -2px;
  --shadow-lg: rgba(25, 40, 57, 0.09) 0px 2px 16px 0px;
  --shadow-xl: rgba(0, 0, 0, 0.04) 0px -2px 4px 0px;
  --gradient-brand-1: linear-gradient(120deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 23%, rgb(7, 181, 117) 50%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
}